<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if(orders.length > 0){ %>
                <ul>
                    <% orders.forEach(order => {%>
                    <li>
                        <ul>
                            <% order.products.forEach(product => {%>
                                <h1><%= product.title %></h1>
                                <li><%= product.description %></li>
                                <li><%= product.orderItem.quantity %></li>
                            <% })%>
                        </ul>
                    </li>
                    <% }) %>
                </ul>
            <% }else{ %>
                <h1>Nothing there!</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>